

  @media (max-width: 768px) {
    .navbar {
      padding: 0;
    }
    
    .navbar ul {
      width: 100%;
      padding: 0;
      background-color: rgba(0,0,0,0.9);
      /*height: auto;*/
      height: 100vh;
      max-height: 0;
      overflow: hidden; 
      transition: all ease-in-out 0.3s;
    }
    
    .navbar ul.open {
      max-height: 400px;
    }
    
    .navbar ul li {
      width: 100%;
      /*border-bottom: 1px solid rgba(255,255,255,0.3);*/
    }
    
    .navbar ul li a {
      padding: 0; 
    }
    
    .navbar .navbar-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 20px;
      right: 20px;
      background-color: transparent;
      color: #fff;
      border: 3px solid #fff;
      /*border: none;*/
      outline: none;
      padding: 0 5px;
      cursor: pointer;
    }
    
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
      display: block;
      content: '';
      background-color: #fff;
      height: 3px;
      width: 28px;
      border-radius: 4px;
      transition: all ease-in-out 0.3s;
    }
    
    .navbar .navbar-toggler span::before {
      transform: translateY(-8px);
    }
    
    .navbar .navbar-toggler span::after {
      transform: translateY(5px);
    }
    
    .navbar .navbar-toggler.open-navbar-toggler span {
      /*transform: rotate(90deg);*/
      background-color: transparent; 
    }
    
    .navbar .navbar-toggler.open-navbar-toggler span::before {
      transform: translateY(0px) rotate(45deg);
    }
    
    .navbar .navbar-toggler.open-navbar-toggler span::after {
      transform: translateY(-3px) rotate(-45deg);
    }
  }

@media (max-width: 991px) {
    .navbar ul {
      padding: 0 10px;
    }

  .nav-links {
      position: absolute;
      right: 0px;
      height: 63vh;
      top: 9vh;
      background-color: burlywood;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding: 40px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in; 
      z-index: -1; 
  }
  /*Position navBar inside image*/
   
#home-page  .page-container,
#home-page  .team-container
{
    grid-template-columns: repeat(2, 1fr);
}

 
@media(max-width: 600px){
    #showcase .showcase-container,
    #home-page  .page-container,
    #home-page  .team-container,
    #home-page  #success,
    #home-page   #ourWork,
    #main-footer .footer-container{
        grid-template-columns: 1fr;
    }

    #main-footer  *  {
        text-align: center;
    }
}